<div class="jumbotron <%= @api_color %> ">
  <h1 class="display-4"><%= @final_ouput %></h1>
  <p class="lead">This is the current ozone quality readout for my neighborhood in <%= @final_ouput.nil? ? @output[0]["ReportingArea"] : "No City found." %>.</p>
  <hr class="my-4">
  <p> <%= @api_message  %> </p>
  <br>
</div>

<br>

