<div class="jumbotron bg-light">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the current ozone quality readout for my neighborhood in Tijuana, MX.</p>
  <hr class="my-4">
  <p>Hit "Reload" in your web browser to refresh the reading....</p>
  <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
</div>
